<!DOCTYPE html><html lang="zh"><head data-base="/">
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="Cache-Control" content="no-siteapp"> 
  <meta charset="UTF-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="renderer" content="webkit"> 
  <meta http-equiv="pragma" content="no-cache">
 <meta http-equiv="cache-control" content="no-cache,must-revalidate">
 <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
 <meta http-equiv="expires" content="0">
 <meta name="applicable-device" content="pc">
<title>济南-贝尔安亲</title>
<meta name="keywords" content="贝尔安亲托管 - 课后托育服务与加盟【贝尔安亲官网】">
<meta name="description" content="贝尔安亲专注中小学课后托管服务，提供生活照顾、作业陪伴、习惯养成、兴趣培养一体化解决方案。欢迎了解贝尔安亲托管加盟，开启教育创业新机遇！"><meta name="mobile-agent" content="format=html5;url=https://www.angelbell.cn/mobile/project_jn.html"><meta name="mobile-agent" content="format=xhtml;url=https://www.angelbell.cn/mobile/project_jn.html">
<link rel="alternate" media="only screen and (max-width:640px)" href="https://www.angelbell.cn/mobile/project_jn.html">
<script src="https://www.angelbell.cn/js/uaredirect.js" type="text/javascript"></script>
<script type="text/javascript">uaredirect("https://www.angelbell.cn/mobile/project_jn.html");</script>
<link rel="canonical" href="https://www.angelbell.cn/project_jn.html"> 
  <link href="https://www.angelbell.cn/css/reset.css?1618473319297" rel="stylesheet"> 
  <script src="https://www.angelbell.cn/js/nsw.pc.min.js"></script> 
  <link href="https://www.angelbell.cn/60769dd4e4b069daf84038e9.css" rel="stylesheet">
  <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src="https://hm.baidu.com/hm.js?edb2b5833d03deb530107365e4e2ab45";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
 <base target="_blank"></head> 
 <body class="body-color"> 
  <div class="header"> 
 <div class="content clearfix"> 
  <div class="logo"><a href="https://www.angelbell.cn/" title="湖南贝尔安亲云教育有限公司"><img alt="湖南贝尔安亲云教育有限公司" src="https://www.angelbell.cn/images/logo.png" title="湖南贝尔安亲云教育有限公司"></a></div> 
  <div class="tel"> 
   <img alt="全国统一热线" src="https://www.angelbell.cn/resource/images/2049292e1d694bc6b97f2829eb140f18_2.png" title="resource/images/2049292e1d694bc6b97f2829eb140f18_2.png"> 
  </div> 
 </div> 
 <div class="h_con content clearfix"> 
  <div class="websites fr"> 
   <div class="btn">
     校区管理端 
   </div> 
   <ul> 
    <li><a href="https://anqinyun.com/#/login" target="_blank" title="家校平台">家校平台</a></li> 
   </ul> 
  </div> 
  <div class="menu clearfix fr"> 
   <ul class="nav"> 
     
     <li> <a href="https://www.angelbell.cn/" title="首页">首页</a> </li> 
     
     <li> <a href="https://www.angelbell.cn/helps/jtjj.html" title="关于贝尔安亲">关于贝尔安亲</a> </li> 
     
     <li> <a href="https://www.angelbell.cn/article_beaqxw.html" title="安亲资讯">安亲资讯</a> </li> 
     
     <li> <a href="https://www.angelbell.cn/products/lwyr.html" title="六维育人">六维育人</a> </li> 
     
     <li> <a href="https://campus.angelbell.cn/" target="_blank" title="安亲校区">安亲校区</a> </li> 
     
     <li> <a href="https://www.angelbell.cn/helps/jmhz2147.html" title="加盟合作">加盟合作</a> </li> 
     
     <li> <a href="https://www.angelbell.cn/helps/help_lxwm.html" title="联系我们">联系我们</a> </li> 
     
   </ul> 
  </div> 
 </div> 
  
  
</div> 
  <div> 
 <div class="ty-banner-1"> 
   
   <a href="https://www.angelbell.cn/project_index.html" title="放学就来贝尔安亲"> <img alt="放学就来贝尔安亲" src="https://www.angelbell.cn/resource/images/bda88b88bdf448a4ae314706194adbf4_62.jpg" title="放学就来贝尔安亲"> </a> 
    
   
   
   
 </div> 
</div> 
  <div> 
 <div class="p101-curmbs-1"> 
  <div class="plc"> 
   <div class="blk-main"> 
    <div class="p101-curmbs-con" navcrumbs=""> 
     <b>您当前的位置：</b> 
     <a href="https://www.angelbell.cn/" title="首页"> 首页 </a> 
     <span> &gt; </span> 
      
      <i class="p12-curblock"> <a href="https://www.angelbell.cn/project_index.html" title="安亲校区"> 安亲校区 </a> <span> &gt; </span> </i> 
      
      <i class=""> <a href="https://www.angelbell.cn/project_sd.html" title="山东"> 山东 </a> <span> &gt; </span> </i> 
      
      <i class=""> <a href="https://www.angelbell.cn/project_jn.html" title="济南"> 济南 </a>  </i> 
      
    </div> 
    <div class="clear"></div> 
   </div> 
  </div> 
 </div> 
  
</div> 
  <div class="p102-search-1"> 
 <div class="blk-main"> 
  <p> <b>热搜关键词：</b> 
    
    <a href="https://www.angelbell.cn/helps/jmhz2147.html" onclick="searchLink(this);" title="课后服务">课后服务</a> 
    
    
    <a href="https://www.angelbell.cn/product_index.html" onclick="searchLink(this);" title="托管班">托管班</a> 
    
    
    <a href="https://www.angelbell.cn/helps/jmhz2147.html" onclick="searchLink(this);" title="作业辅导">作业辅导</a> 
   </p> 
  <div class="p102-search-1-inp"> 
   <input class="p102-search-1-inp1" id="key" placeholder="请输入您要搜索的关键词" type="text"> 
   <input class="p102-search-1-inp2" onclick="searchInfo();" type="button"> 
  </div> 
  <div class="clear"></div> 
 </div> 
</div> 
 
 
  <div class="blk-main"> 
   <div class="p102-fdh-1"> 
 <div class="p102-fdh-1-nav" navvicefocus1=""> 
   
   <div class="p102-fdh-1-nav-one"> 
    <h3><a href="https://www.angelbell.cn/project_hb4821.html" title="河北">河北：</a></h3> 
    <dl> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_bd.html" title="保定">保定</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_lf.html" title="廊坊">廊坊</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_sjz.html" title="石家庄">石家庄</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_hs.html" title="衡水">衡水</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_xt.html" title="邢台">邢台</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_hd.html" title="邯郸">邯郸</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_cz.html" title="沧州">沧州</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_cd.html" title="承德">承德</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_ts.html" title="唐山">唐山</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_zjk.html" title="张家口">张家口</a> 
      </dt> 
      
    </dl> 
    <div class="clear"></div> 
   </div> 
   
   <div class="p102-fdh-1-nav-one"> 
    <h3><a href="https://www.angelbell.cn/project_sd.html" title="山东">山东：</a></h3> 
    <dl> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_qd.html" title="青岛">青岛</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_ta.html" title="泰安">泰安</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_rz.html" title="日照">日照</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_ly1060.html" title="临沂">临沂</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_jn.html" title="济南">济南</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_bz.html" title="滨州">滨州</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_zz.html" title="枣庄">枣庄</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_dy.html" title="东营">东营</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_jn5259.html" title="济宁">济宁</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_zb.html" title="淄博">淄博</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_yt.html" title="烟台">烟台</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_dz.html" title="德州">德州</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_lc.html" title="聊城">聊城</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_hz8635.html" title="菏泽">菏泽</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_wf.html" title="潍坊">潍坊</a> 
      </dt> 
      
    </dl> 
    <div class="clear"></div> 
   </div> 
   
   <div class="p102-fdh-1-nav-one"> 
    <h3><a href="https://www.angelbell.cn/project_sx.html" title="陕西">陕西：</a></h3> 
    <dl> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_xa.html" title="西安">西安</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_yl.html" title="榆林">榆林</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_ya.html" title="延安">延安</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_xy.html" title="咸阳">咸阳</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_sm.html" title="神木">神木</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_bj7282.html" title="宝鸡">宝鸡</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_sl.html" title="商洛">商洛</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_hc.html" title="韩城">韩城</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_wn.html" title="渭南">渭南</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_ak.html" title="安康">安康</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_hz.html" title="汉中">汉中</a> 
      </dt> 
      
    </dl> 
    <div class="clear"></div> 
   </div> 
   
   <div class="p102-fdh-1-nav-one"> 
    <h3><a href="https://www.angelbell.cn/project_hn.html" title="湖南">湖南：</a></h3> 
    <dl> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_zs1856.html" title="长沙">长沙</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_ly1971.html" title="浏阳">浏阳</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_cd4852.html" title="常德">常德</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_sy7451.html" title="邵阳">邵阳</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_yy.html" title="益阳">益阳</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_cz3790.html" title="郴州">郴州</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_hy.html" title="衡阳">衡阳</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_yy4988.html" title="岳阳">岳阳</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_js356.html" title="吉首">吉首</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_hh.html" title="怀化">怀化</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_xt4025.html" title="湘潭">湘潭</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_zz1229.html" title="株洲">株洲</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_ld.html" title="娄底">娄底</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_yz.html" title="永州">永州</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_nx5632.html" title="宁乡">宁乡</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_xx3927.html" title="湘西">湘西</a> 
      </dt> 
      
    </dl> 
    <div class="clear"></div> 
   </div> 
   
   <div class="p102-fdh-1-nav-one"> 
    <h3><a href="https://www.angelbell.cn/project_nx.html" title="宁夏">宁夏：</a></h3> 
    <dl> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_yc6092.html" title="银川">银川</a> 
      </dt> 
      
    </dl> 
    <div class="clear"></div> 
   </div> 
   
   <div class="p102-fdh-1-nav-one"> 
    <h3><a href="https://www.angelbell.cn/project_gs.html" title="甘肃">甘肃：</a></h3> 
    <dl> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_lz.html" title="兰州">兰州</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_qy678.html" title="庆阳">庆阳</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_ts170.html" title="天水">天水</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_lx.html" title="临夏">临夏</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_jc2341.html" title="金昌">金昌</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_ww.html" title="武威">武威</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_jq.html" title="酒泉">酒泉</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_ln3780.html" title="陇南">陇南</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_pl.html" title="平凉">平凉</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_by.html" title="白银">白银</a> 
      </dt> 
      
    </dl> 
    <div class="clear"></div> 
   </div> 
   
   <div class="p102-fdh-1-nav-one"> 
    <h3><a href="https://www.angelbell.cn/project_xj.html" title="新疆">新疆：</a></h3> 
    <dl> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_yn4255.html" title="伊宁">伊宁</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_wlmq.html" title="乌鲁木齐">乌鲁木齐</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_aks.html" title="阿克苏">阿克苏</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_klmy.html" title="克拉玛依">克拉玛依</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_kel.html" title="库尔勒">库尔勒</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_tc.html" title="塔城">塔城</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_cj.html" title="昌吉">昌吉</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_ks.html" title="喀什">喀什</a> 
      </dt> 
      
    </dl> 
    <div class="clear"></div> 
   </div> 
   
   <div class="p102-fdh-1-nav-one"> 
    <h3><a href="https://www.angelbell.cn/project_qh.html" title="青海">青海：</a></h3> 
    <dl> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_xn6085.html" title="西宁">西宁</a> 
      </dt> 
      
    </dl> 
    <div class="clear"></div> 
   </div> 
   
   <div class="p102-fdh-1-nav-one"> 
    <h3><a href="https://www.angelbell.cn/project_yn.html" title="云南">云南：</a></h3> 
    <dl> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_km.html" title="昆明">昆明</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_ws.html" title="文山">文山</a> 
      </dt> 
      
    </dl> 
    <div class="clear"></div> 
   </div> 
   
   <div class="p102-fdh-1-nav-one"> 
    <h3><a href="https://www.angelbell.cn/project_gz.html" title="贵州">贵州：</a></h3> 
    <dl> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_gz1248.html" title="贵州">贵州</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_gy.html" title="贵阳">贵阳</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_tr.html" title="铜仁">铜仁</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_as.html" title="安顺">安顺</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_kl.html" title="凯里">凯里</a> 
      </dt> 
      
    </dl> 
    <div class="clear"></div> 
   </div> 
   
   <div class="p102-fdh-1-nav-one"> 
    <h3><a href="https://www.angelbell.cn/project_sc.html" title="四川">四川：</a></h3> 
    <dl> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_cd7996.html" title="成都">成都</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_my.html" title="绵阳">绵阳</a> 
      </dt> 
      
    </dl> 
    <div class="clear"></div> 
   </div> 
   
   <div class="p102-fdh-1-nav-one"> 
    <h3><a href="https://www.angelbell.cn/project_zq.html" title="重庆">重庆：</a></h3> 
    <dl> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_zq5604.html" title="重庆">重庆</a> 
      </dt> 
      
    </dl> 
    <div class="clear"></div> 
   </div> 
   
   <div class="p102-fdh-1-nav-one"> 
    <h3><a href="https://www.angelbell.cn/project_gx.html" title="广西">广西：</a></h3> 
    <dl> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_nn.html" title="南宁">南宁</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_bh.html" title="北海">北海</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_fcg.html" title="防城港">防城港</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_lb.html" title="来宾">来宾</a> 
      </dt> 
      
    </dl> 
    <div class="clear"></div> 
   </div> 
   
   <div class="p102-fdh-1-nav-one"> 
    <h3><a href="https://www.angelbell.cn/project_hb.html" title="湖北">湖北：</a></h3> 
    <dl> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_hg.html" title="黄冈">黄冈</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_sz7626.html" title="随州">随州</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_xy7129.html" title="襄阳">襄阳</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_wh.html" title="武汉">武汉</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_xn.html" title="咸宁">咸宁</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_yc6519.html" title="宜昌">宜昌</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_sy1170.html" title="十堰">十堰</a> 
      </dt> 
      
    </dl> 
    <div class="clear"></div> 
   </div> 
   
   <div class="p102-fdh-1-nav-one"> 
    <h3><a href="https://www.angelbell.cn/project_hn244.html" title="河南">河南：</a></h3> 
    <dl> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_zz7271.html" title="郑州">郑州</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_xc.html" title="许昌">许昌</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_ay.html" title="安阳">安阳</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_ly25.html" title="洛阳">洛阳</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_hb1048.html" title="鹤壁">鹤壁</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_xy4114.html" title="信阳">信阳</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_smx.html" title="三门峡">三门峡</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_xx.html" title="新乡">新乡</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_pds.html" title="平顶山">平顶山</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_py.html" title="濮阳">濮阳</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_jz.html" title="焦作">焦作</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_ny.html" title="南阳">南阳</a> 
      </dt> 
      
    </dl> 
    <div class="clear"></div> 
   </div> 
   
   <div class="p102-fdh-1-nav-one"> 
    <h3><a href="https://www.angelbell.cn/project_gd.html" title="广东">广东：</a></h3> 
    <dl> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_gz6436.html" title="广州">广州</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_qy.html" title="清远">清远</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_zh.html" title="珠海">珠海</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_sz.html" title="深圳">深圳</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_sg.html" title="韶关">韶关</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_st.html" title="汕头">汕头</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_fs.html" title="佛山">佛山</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_dg.html" title="东莞">东莞</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_jm.html" title="江门">江门</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_zs685.html" title="中山">中山</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_hz4505.html" title="惠州">惠州</a> 
      </dt> 
      
    </dl> 
    <div class="clear"></div> 
   </div> 
   
   <div class="p102-fdh-1-nav-one"> 
    <h3><a href="https://www.angelbell.cn/project_js.html" title="江苏">江苏：</a></h3> 
    <dl> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_nj.html" title="南京">南京</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_xz.html" title="徐州">徐州</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_jr.html" title="句容">句容</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_wx.html" title="无锡">无锡</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_hm.html" title="海门">海门</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_zj2690.html" title="镇江">镇江</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_nt.html" title="南通">南通</a> 
      </dt> 
      
    </dl> 
    <div class="clear"></div> 
   </div> 
   
   <div class="p102-fdh-1-nav-one"> 
    <h3><a href="https://www.angelbell.cn/project_zj.html" title="浙江">浙江：</a></h3> 
    <dl> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_hz300.html" title="杭州">杭州</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_ls.html" title="丽水">丽水</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_hz520.html" title="湖州">湖州</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_wz.html" title="温州">温州</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_tz.html" title="台州">台州</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_zs.html" title="舟山">舟山</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_jh.html" title="金华">金华</a> 
      </dt> 
      
    </dl> 
    <div class="clear"></div> 
   </div> 
   
   <div class="p102-fdh-1-nav-one"> 
    <h3><a href="https://www.angelbell.cn/project_hn3845.html" title="海南">海南：</a></h3> 
    <dl> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_hk.html" title="海口">海口</a> 
      </dt> 
      
    </dl> 
    <div class="clear"></div> 
   </div> 
   
   <div class="p102-fdh-1-nav-one"> 
    <h3><a href="https://www.angelbell.cn/project_ah.html" title="安徽">安徽：</a></h3> 
    <dl> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_hf.html" title="合肥">合肥</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_aq.html" title="安庆">安庆</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_tl2242.html" title="铜陵">铜陵</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_hn8800.html" title="淮南">淮南</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_fy.html" title="阜阳">阜阳</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_bz1754.html" title="亳州">亳州</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_wh3832.html" title="芜湖">芜湖</a> 
      </dt> 
      
    </dl> 
    <div class="clear"></div> 
   </div> 
   
   <div class="p102-fdh-1-nav-one"> 
    <h3><a href="https://www.angelbell.cn/project_fj.html" title="福建">福建：</a></h3> 
    <dl> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_sm7068.html" title="厦门">厦门</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_fz.html" title="福州">福州</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_qz.html" title="泉州">泉州</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_fq.html" title="福清">福清</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_nd.html" title="宁德">宁德</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_sm7420.html" title="三明">三明</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_zz2179.html" title="漳州">漳州</a> 
      </dt> 
      
    </dl> 
    <div class="clear"></div> 
   </div> 
   
   <div class="p102-fdh-1-nav-one"> 
    <h3><a href="https://www.angelbell.cn/project_jx.html" title="江西">江西：</a></h3> 
    <dl> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_nc.html" title="南昌">南昌</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_px.html" title="萍乡">萍乡</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_yc29.html" title="宜春">宜春</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_jj.html" title="九江">九江</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_lp.html" title="乐平">乐平</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_sr.html" title="上饶">上饶</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_xy7794.html" title="新余">新余</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_ja.html" title="吉安">吉安</a> 
      </dt> 
      
    </dl> 
    <div class="clear"></div> 
   </div> 
   
   <div class="p102-fdh-1-nav-one"> 
    <h3><a href="https://www.angelbell.cn/project_sx6553.html" title="山西">山西：</a></h3> 
    <dl> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_jc.html" title="晋城">晋城</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_ty.html" title="太原">太原</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_dt.html" title="大同">大同</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_lf731.html" title="临汾">临汾</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_yc.html" title="运城">运城</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_zz3558.html" title="长治">长治</a> 
      </dt> 
      
    </dl> 
    <div class="clear"></div> 
   </div> 
   
   <div class="p102-fdh-1-nav-one"> 
    <h3><a href="https://www.angelbell.cn/project_nmg.html" title="内蒙古">内蒙古：</a></h3> 
    <dl> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_bt.html" title="包头">包头</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_xlht.html" title="锡林浩特">锡林浩特</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_xamwlh.html" title="兴安盟乌兰浩特">兴安盟乌兰浩特</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_eeds.html" title="鄂尔多斯">鄂尔多斯</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_hhht.html" title="呼和浩特">呼和浩特</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_bynes.html" title="巴彦淖尔">巴彦淖尔</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_wh4871.html" title="乌海">乌海</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_wlcbs.html" title="乌兰察布">乌兰察布</a> 
      </dt> 
      
    </dl> 
    <div class="clear"></div> 
   </div> 
   
   <div class="p102-fdh-1-nav-one"> 
    <h3><a href="https://www.angelbell.cn/project_tj.html" title="天津">天津：</a></h3> 
    <dl> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_tj2413.html" title="天津">天津</a> 
      </dt> 
      
    </dl> 
    <div class="clear"></div> 
   </div> 
   
   <div class="p102-fdh-1-nav-one"> 
    <h3><a href="https://www.angelbell.cn/project_ln.html" title="辽宁">辽宁：</a></h3> 
    <dl> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_sy.html" title="沈阳">沈阳</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_dd.html" title="丹东">丹东</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_ly.html" title="辽阳">辽阳</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_dl.html" title="大连">大连</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_tl.html" title="铁岭">铁岭</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_pj.html" title="盘锦">盘锦</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_hc4126.html" title="营口">营口</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_hld.html" title="葫芦岛">葫芦岛</a> 
      </dt> 
      
    </dl> 
    <div class="clear"></div> 
   </div> 
   
   <div class="p102-fdh-1-nav-one"> 
    <h3><a href="https://www.angelbell.cn/project_hlj.html" title="黑龙江">黑龙江：</a></h3> 
    <dl> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_heb.html" title="哈尔滨">哈尔滨</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_mdj.html" title="牡丹江">牡丹江</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_dq.html" title="大庆">大庆</a> 
      </dt> 
      
    </dl> 
    <div class="clear"></div> 
   </div> 
   
   <div class="p102-fdh-1-nav-one"> 
    <h3><a href="https://www.angelbell.cn/project_jl.html" title="吉林">吉林：</a></h3> 
    <dl> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_zc.html" title="长春">长春</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_jls.html" title="吉林市">吉林市</a> 
      </dt> 
      
    </dl> 
    <div class="clear"></div> 
   </div> 
   
   <div class="p102-fdh-1-nav-one"> 
    <h3><a href="https://www.angelbell.cn/project_sh.html" title="上海">上海：</a></h3> 
    <dl> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_js2358.html" title="江苏">江苏</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_sd1187.html" title="山东">山东</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_zj558.html" title="浙江">浙江</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_ah8684.html" title="安徽">安徽</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_fj8686.html" title="福建">福建</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_jx8789.html" title="江西">江西</a> 
      </dt> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_sh1470.html" title="上海">上海</a> 
      </dt> 
      
    </dl> 
    <div class="clear"></div> 
   </div> 
   
   <div class="p102-fdh-1-nav-one"> 
    <h3><a href="https://www.angelbell.cn/project_bj.html" title="北京">北京：</a></h3> 
    <dl> 
      
      <dt> 
       <a href="https://www.angelbell.cn/project_bj6704.html" title="北京">北京</a> 
      </dt> 
      
    </dl> 
    <div class="clear"></div> 
   </div> 
   
 </div> 
 <div class="all_schools"> 
  <a href="https://www.angelbell.cn/project_index.html">查看所有校区</a> 
 </div> 
</div> 
 
 
   <div class="p101-article-1"> 
  
 <ul class="p102-news-1-list clearfix"> 
   
   <li> <a href="https://www.angelbell.cn/projects/sdsjns4603.html" target="_blank" title="山东省济南市历下区蒙正小学校区（3701058）"><h4><span>山东省济南市历下区蒙正小学校区（3701058）</span></h4> <p> 山东省济南市历下区龙洞街道云驰路7号舜兴东方1号商业楼二楼 </p> </a></li> 
   
   <li> <a href="https://www.angelbell.cn/projects/sdsjns6174.html" target="_blank" title="山东省济南市历下区崇璟小学校区(3701061)"><h4><span>山东省济南市历下区崇璟小学校区(3701061)</span></h4> <p> 山东省济南市历下区兴港路868号璟悦府8号楼1-209 </p> </a></li> 
   
   <li> <a href="https://www.angelbell.cn/projects/sdsjns2503.html" target="_blank" title="山东省济南市历下区燕山中学校区（贝尔全能）（Q3701004）"><h4><span>山东省济南市历下区燕山中学校区（贝尔全能）（Q3701004）</span></h4> <p> 山东省济南市历下区文化东路29号七星吉祥大厦2-301 </p> </a></li> 
   
   <li> <a href="https://www.angelbell.cn/projects/sdsjnw.html" target="_blank" title="山东省济南万象新天校区（3701057）"><h4><span>山东省济南万象新天校区（3701057）</span></h4> <p> 山东省日照市东港区文登路以西，学耕路以北2楼 </p> </a></li> 
   
   <li> <a href="https://www.angelbell.cn/projects/sdsjns3544.html" target="_blank" title="山东省济南市历城区洪家楼第三小学校区（3701056）"><h4><span>山东省济南市历城区洪家楼第三小学校区（3701056）</span></h4> <p> 山东省济南市历城区祝舜路2199号电建洺悦府二层 </p> </a></li> 
   
   <li> <a href="https://www.angelbell.cn/projects/3701052235.html" target="_blank" title="山东省济南市历下区解放路第二小学校区（3701055）"><h4><span>山东省济南市历下区解放路第二小学校区（3701055）</span></h4> <p> 山东省济南市历下区大南路111号绿景嘉园d区商业楼1楼尚视觉摄影内贝尔安亲 </p> </a></li> 
   
   <li> <a href="https://www.angelbell.cn/projects/3701052246.html" target="_blank" title="山东省济南市天桥区制锦市街小学校区（3701050）"><h4><span>山东省济南市天桥区制锦市街小学校区（3701050）</span></h4> <p> 山东省济南市天桥区铜元局后街12-1 </p> </a></li> 
   
   <li> <a href="https://www.angelbell.cn/projects/3701043057.html" target="_blank" title="山东省济南市历下区山东师范大学附属小学校区（3701045）"><h4><span>山东省济南市历下区山东师范大学附属小学校区（3701045）</span></h4> <p> 山东省济南市历下区和平路55号和平花园小区东邻三楼贝尔安亲 </p> </a></li> 
   
   <li> <a href="https://www.angelbell.cn/projects/370105.html" target="_blank" title="山东省济南市高新区东城逸家小学校区（3701052）"><h4><span>山东省济南市高新区东城逸家小学校区（3701052）</span></h4> <p> 山东省济南市济南高新技术产业开发区辰嘉路403号一层+二层 </p> </a></li> 
   
   <li> <a href="https://www.angelbell.cn/projects/3701043970.html" target="_blank" title="山东省济南市历下区大明湖小学校区（3701044）"><h4><span>山东省济南市历下区大明湖小学校区（3701044）</span></h4> <p> 山东省济南市历下区大明湖街道大明湖小学对面200米明湖小区东四区11号楼 </p> </a></li> 
   
   <li> <a href="https://www.angelbell.cn/projects/3701041029.html" target="_blank" title="山东省济南市历城区山大附中瀚阳小学校区（3701048）"><h4><span>山东省济南市历城区山大附中瀚阳小学校区（3701048）</span></h4> <p> 山东省济南市历城区汉峪中路789号二楼 </p> </a></li> 
   
   <li> <a href="https://www.angelbell.cn/projects/sdsjns6849.html" target="_blank" title="山东省济南市历城区历城双语实验校区（3701054）"><h4><span>山东省济南市历城区历城双语实验校区（3701054）</span></h4> <p> 山东省济南市历城区农干院路1-17号 </p> </a></li> 
   
   <li> <a href="https://www.angelbell.cn/projects/sdsjnd.html" target="_blank" title="山东省济南甸柳一中校区（贝尔全能）（Q3701003）"><h4><span>山东省济南甸柳一中校区（贝尔全能）（Q3701003）</span></h4> <p> 山东省济南市历下区甸柳新村1号公建3楼东侧 </p> </a></li> 
   
   <li> <a href="https://www.angelbell.cn/projects/sdsjns4453.html" target="_blank" title="山东省济南市市中区育秀中学小学部校区"><h4><span>山东省济南市市中区育秀中学小学部校区</span></h4> <p> 山东省济南市市中区领秀城西三区商业街2-115 </p> </a></li> 
   
   <li> <a href="https://www.angelbell.cn/projects/sdsjns3593.html" target="_blank" title="山东省济南市历城区璟樾小学校区"><h4><span>山东省济南市历城区璟樾小学校区</span></h4> <p> 山东省济南市历城区王舍人街道历城区奥体中路888号璟樾花园7号楼701-702和5号楼111室 </p> </a></li> 
   
   <li> <a href="https://www.angelbell.cn/projects/jnsdfz.html" target="_blank" title="济南山大附中瀚阳校区"><h4><span>济南山大附中瀚阳校区</span></h4> <p> 山东省济南市历城区汉峪中路789号二楼 </p> </a></li> 
   
   <li> <a href="https://www.angelbell.cn/projects/sdsjns1725.html" target="_blank" title="山东省济南市市中区经十一路小学校区"><h4><span>山东省济南市市中区经十一路小学校区</span></h4> <p> 山东省济南市市中区经十一路39号稻香村2楼贝尔安亲 </p> </a></li> 
   
   <li> <a href="https://www.angelbell.cn/projects/sdsjns3071.html" target="_blank" title="山东省济南市历下区韶光小学校区"><h4><span>山东省济南市历下区韶光小学校区</span></h4> <p> 山东省济南市历下区山东省济南市历下区奥体西路丁家商街二层 </p> </a></li> 
   
   <li> <a href="https://www.angelbell.cn/projects/sdsjns2795.html" target="_blank" title="山东省济南市济阳区澄波湖小学校区（贝尔优能）"><h4><span>山东省济南市济阳区澄波湖小学校区（贝尔优能）</span></h4> <p> 山东省济南市济阳县济阳澄波湖7号小区107、108商铺 </p> </a></li> 
   
   <li> <a href="https://www.angelbell.cn/projects/sdsjns7395.html" target="_blank" title="山东省济南市历下区玖玺小学校区（贝尔优能）"><h4><span>山东省济南市历下区玖玺小学校区（贝尔优能）</span></h4> <p> 山东省济南市历下区智远济南市刘智远路商业街1-111 </p> </a></li> 
   
 </ul> 
 <div class="clear"></div> 
</div> 
 
   <div class="p12-pagination-1 g blk"> 
 <div class="p12-pagination-1-main"> 
   
 </div> 
 <div class="clear"></div> 
</div> 
   <div class="clear"></div> 
  </div> 
  <div class="ly"> 
 <div class="content"> 
  <div class="ly_con clearfix"> 
   <div class="ly_l"> 
    <h2><a href="https://www.angelbell.cn/" title="湖南贝尔安亲云教育有限公司"><img alt="湖南贝尔安亲云教育有限公司" src="https://www.angelbell.cn/images/logo.png" title="湖南贝尔安亲云教育有限公司"></a></h2> 
    <h3>如果您对加盟贝尔安亲感兴趣 <b>请立即留言或拨打<em>400-01-82821</em></b></h3> 
    <h4>我们的会在第一时间与您取得联系，并提供更详细的资料！</h4> 
    <a class="more" href="https://www.angelbell.cn/helps/jmhz2147.html" title="了解更多">了解更多</a> 
    <ul class="clearfix"> 
     <li><img alt="官方抖音号" src="https://www.angelbell.cn/resource/images/c991b0b74cc446a7bec4c441cffdadd1_6.jpg" title="官方抖音号"> <span>官方抖音号</span></li> 
     <li><img alt="官方公众号" src="https://www.angelbell.cn/resource/images/9e841581293f4cfb88020f4a858cb837_4.jpg" title="官方公众号"><span>官方公众号</span></li> 
     <li><img alt="官方视频号" src="https://www.angelbell.cn/resource/images/65ce5f7041cb40979d12049617d64edb_2.jpg" title="官方视频号"><span>官方视频号</span></li> 
    </ul> 
   </div> 
   <div class="ly_r"> 
    <h3>获取所在城市托管盈利方案<em>成就事业，美好生活！</em></h3> 
    <div class="ly_box"> 
     <ul class="clearfix"> 
      <form class="intentionalOrderFormId" name="intentionalOrderForm"><ul>
    <input name="vcenter" type="hidden" value="https://centern.nsw99.com//center/intentionalOrder/add">
    <input name="projId" type="hidden" value="20210413111750000691">
    <input name="formId" type="hidden" value="60c9c1efe4b03e6ae0ae3925">
    <input class="timeinterval" type="hidden" value="30">
    <input class="isvalidate" type="hidden" value="false"> 
       <li><i><label>您的称呼：</label></i> 
        
    <input maxlength="10" name="contactsName" pattern="" placeholder="方便联系" required title="姓名" type="text"><span>*</span><p class="info"></p>



 </li> 
       <li><i><label>联系电话：</label></i> 
        
    <input maxlength="11" name="contactsPhone" pattern="/^1[345678][0-9]{9}$/" placeholder="用于发送项目资料" required title="电话" type="text"><span>*</span><p class="info"></p>



 </li> 
       <li><i><label>所在城市：</label></i> 
        
    <input maxlength="50" name="contactsMail" pattern="" placeholder="匹配当地政策与案例" title="省市" type="text"><p class="info"></p>



 </li> 
      
<div class="submit">
<input class="form-btn-submit" type="button" value="获取资料"><input class="form-btn-reset" type="button" value="重填">
</div>

</ul></form> 
     </ul> 
    </div> 
   </div> 
  </div> 
   
 </div> 
</div> 
<div class="footer"> 
 <div class="f_con content clearfix"> 
  <div class="f_logo"> 
   <a href="https://www.angelbell.cn/" title="贝尔安亲"><img alt="贝尔安亲" src="https://www.angelbell.cn/images/f_logo.png"></a> 
  </div> 
  <div class="f_menu"> 
    
    <a href="https://www.angelbell.cn/" title="网站首页">网站首页</a> 
    
    <a href="https://www.angelbell.cn/helps/jtjj.html" title="关于贝尔安亲">关于贝尔安亲</a> 
    
    <a href="https://www.angelbell.cn/helps/jmhz2147.html" title="加盟合作">加盟合作</a> 
    
    <a href="https://www.angelbell.cn/project_index.html" title="安亲校区">安亲校区</a> 
    
    <a href="https://www.angelbell.cn/article_beaqxw.html" title="安亲资讯">安亲资讯</a> 
    
  </div> 
  <div class="f_contact"> 
   <p class="tel"> <strong>400-01-82821</strong><span>xinxi@angelbell.cn(邮箱)</span> </p> 
   <p class="address"> <span>总部地址</span><strong>湖南省长沙市芙蓉区五一大道文运街15号湖南省电教馆二楼</strong> </p> 
  </div> 
  <div class="f_qr fr"> 
   <p><img alt="官方抖音号" src="https://www.angelbell.cn/resource/images/c991b0b74cc446a7bec4c441cffdadd1_6.jpg" title="官方抖音号"> <span>官方抖音号</span></p> 
   <p><img alt="官方公众号" src="https://www.angelbell.cn/resource/images/9e841581293f4cfb88020f4a858cb837_4.jpg" title="官方公众号"><span>官方公众号</span></p> 
   <p><img alt="官方视频号" src="https://www.angelbell.cn/resource/images/65ce5f7041cb40979d12049617d64edb_2.jpg" title="官方视频号"><span>官方视频号</span></p> 
  </div> 
  <div class="f_info"> 
   <span>湖南贝尔安亲云教育有限公司-版权所有</span> 
   <span>备案号-<a href="https://beian.miit.gov.cn/#/Integrated/index" rel="nofollow" target="_blank">湘ICP备16005744号-4</a></span> 
   <span>百度统计</span> 
   <span>技术支持：牛商股份</span> 
   <span><a href="https://www.angelbell.cn/sitemap.html" target="_blank" title="网站地图">网站地图</a></span> 
  </div> 
  <div class="direct"> 
   <div class="content"> 
    <div class="direct_t"> 
     <span>Express<br> way</span> 
     <em>快速通道</em> 
    </div> 
    <div class="direct_l"> 
     <ul class="clearfix"> 
      <li> <h4> <a href="https://www.angelbell.cn" target="_blank" title="贝尔安亲">贝尔安亲</a> </h4> <span> <a href="https://www.angelbell.cn/About" target="_blank" title="关于我们">关于我们</a> <a href="https://www.angelbell.cn/licheng" target="_blank" title="发展历程">发展历程</a> <a href="https://www.angelbell.cn/anqindaxue" target="_blank" title="安亲大学"> 安亲大学</a> <a href="javascript:void(0);" target="_self" title="">&nbsp;&nbsp;</a> <a href="javascript:void(0);" target="_blank" title="">&nbsp;&nbsp;</a> </span> </li> 
      <li> <h4> <a href="https://www.angelbell.cn/Campus" target="_blank" title="安亲校区">安亲校区</a> </h4> <span><a href="https://www.angelbell.cn/duocaihuodong" target="_blank" title="多彩活动">多彩活动</a> <a href="https://www.angelbell.cn/meilixiaoqu" target="_blank" title="美丽校区">美丽校区</a><a href="https://www.angelbell.cn/fenbu" target="_blank" title="校区分布">校区分布</a><a href="javascript:void(0);" target="_self" title="">&nbsp;&nbsp;</a><a href="javascript:void(0);" target="_self" title="">&nbsp;&nbsp;</a></span></li> 
      <li> <h4> <a href="https://www.angelbell.cn/JoinIn" target="_blank" title="加盟合作">加盟合作</a> </h4> <span> <a href="http://www.angelbell.com.cn" target="_blank" title="贝尔安亲加盟网">贝尔安亲加盟网</a> <a href="javascript:void(0);" target="_self" title="">&nbsp;&nbsp;</a> <a href="https://www.angelbell.cn/Honor" target="_blank" title="荣誉资质">荣誉资质</a><a href="javascript:void(0);" target="_blank" title="">&nbsp;&nbsp;</a><a href="javascript:void(0);" target="_blank" title="">&nbsp;&nbsp;</a></span></li> 
     </ul> 
    </div> 
   </div> 
  </div> 
   
 </div> 
  
</div> 
  <div class="client-2"> 
 <ul id="client-2"> 
   
  <li class="my-kefu-tel"> 
   <div class="my-kefu-tel-main"> 
    <div class="my-kefu-left"> 
     <i></i> 
     <p> 400电话 </p> 
    </div> 
    <div class="my-kefu-tel-right" phone400="">400-01-82821</div> 
   </div> </li> 
  <li class="my-kefu-liuyan"> 
   <div class="my-kefu-main"> 
    <div class="my-kefu-left"> 
     <a href="https://www.angelbell.cn/Tools/leaveword.html" title="在线留言"> <i></i> <p> 在线留言 </p> </a> 
    </div> 
    <div class="my-kefu-right"></div> 
   </div> </li> 
  <li class="my-kefu-weixin"> 
   <div class="my-kefu-main"> 
    <div class="my-kefu-left"> 
     <i></i> 
     <p>官方抖音号</p> 
    </div> 
    <div class="my-kefu-right"> 
    </div> 
    <div class="my-kefu-weixin-pic"> 
     <img src="https://www.angelbell.cn/resource/images/c991b0b74cc446a7bec4c441cffdadd1_6.jpg"> 
    </div> 
   </div> </li> 
  <li class="my-kefu-weixin"> 
   <div class="my-kefu-main"> 
    <div class="my-kefu-left"> 
     <i></i> 
     <p>官方视频号</p> 
    </div> 
    <div class="my-kefu-right"> 
    </div> 
    <div class="my-kefu-weixin-pic"> 
     <img src="https://www.angelbell.cn/resource/images/65ce5f7041cb40979d12049617d64edb_2.jpg"> 
    </div> 
   </div> </li> 
  <!--<li class="my-kefu-weibo" th:if="${not #strings.isEmpty(enterprise.xlweibo)}">--> 
  <!--    <div class="my-kefu-main">--> 
  <!--        <div class="my-kefu-left">--> 
  <!--            <a th:href="https://www.angelbell.cn/${enterprise?enterprise.xlweibo:''}" target="_blank" href="javascript:;"> <i></i>--> 
  <!--                <p> 关注微博 </p>--> 
  <!--            </a>--> 
  <!--        </div>--> 
  <!--        <div class="my-kefu-right">--> 
  <!--        </div>--> 
  <!--    </div>--> 
  <!--</li>--> 
  <li class="my-kefu-ftop"> 
   <div class="my-kefu-main"> 
    <div class="my-kefu-left"> 
     <a href="javascript:;"> <i></i> <p> 返回顶部 </p> </a> 
    </div> 
    <div class="my-kefu-right"> 
    </div> 
   </div> </li> 
 </ul> 
  
  
</div> 
  <script src="https://www.angelbell.cn/js/public.js"></script> 
  <script src="https://www.angelbell.cn/60769dd4e4b069daf84038e9.js" type="text/javascript"></script> 
 
<script>  var sysBasePath = null ;var projPageData = {};</script><script>(function(){var bp = document.createElement('script');
var curProtocol = window.location.protocol.split(':')[0];
if (curProtocol === 'https')
{ bp.src='https://zz.bdstatic.com/linksubmit/push.js'; }
else
{ bp.src='http://push.zhanzhang.baidu.com/push.js'; }
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(bp, s);
})();</script><script src="https://www.angelbell.cn/js/ab77b6ea7f3fbf79.js" type="text/javascript"></script></body></html>