 


<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<title>课后托管老师_山东国云教育科技有限公司招聘 - 全职招聘网</title>
		<meta name="description" content="山东国云教育科技有限公司课后托管老师招聘，了解更多招聘信息就来全职招聘网。">
		<meta name="keywords" content="课后托管老师，山东国云教育科技有限公司招聘">
		<meta name="applicable-device" content="pc">
<link rel="canonical" href="https://www.quanzhi.com/job/69efc63b5e571018290a0018">
<link rel="alternate" media="only screen and(max-width: 640px)" href="https://m.quanzhi.com/job/detail/69efc63b5e571018290a0018">
<meta name="mobile-agent" content="format=html5; url=https://m.quanzhi.com/job/detail/69efc63b5e571018290a0018">
<meta property="bytedance:published_time" content="2026-04-28T04:25:31+08:00">
<meta property="bytedance:updated_time" content="2026-08-18T09:25:15+08:00">
<script type="application/ld+json">
{
    "@context": "https://ziyuan.baidu.com/contexts/cambrian.jsonld",
    "@id": "https://www.quanzhi.com/job/69efc63b5e571018290a0018",
    "title": "课后托管老师_山东国云教育科技有限公司招聘 - 全职招聘网",
    "description": "山东国云教育科技有限公司课后托管老师招聘，了解更多招聘信息就来全职招聘网。",
    "pubDate": "2026-04-28T04:25:31",
    "upDate": "2026-08-18T09:25:15",
    "images": ["https://quanzhi.com/logo/69efb04ea59c0a75030c026a"]
}
</script>
				<link rel="stylesheet" href="//c5.quanzhi.cn/css/www/job/job.css?ver=20269149291">
		<link rel="stylesheet" href="//c5.quanzhi.cn/css/www/fonts/ai-icon/iconfont.css?ver=20269149291">
		<link rel="stylesheet" href="//c5.quanzhi.cn/css/www/notice/notice.css?ver=20269149291">
		<!-- <link rel="stylesheet" href="//c5.quanzhi.cn/css/www/swiper-bundle.min.css" /> -->
		<link rel="stylesheet" href="//c5.quanzhi.cn/css/www/tdesign.min.css?ver=20269149291">
		<link rel="stylesheet" href="//c5.quanzhi.cn/css/www/markdown.css?ver=20269149291">
		<!-- <script src="//c5.quanzhi.cn/js/www/swiper-bundle.min.js"></script> -->
	</head>
	<body>
		<input type="hidden" id="jobId" value="69efc63b5e571018290a0018"/>
		<input type="hidden" id="isLogin" value="" />
		<input type="hidden" id="currentPage" value="https%3A%2F%2Fwww.quanzhi.com%2Fjob%2F69efc63b5e571018290a0018" />
		<link rel="stylesheet" href="//c5.quanzhi.cn/css/www/??tdesign.min.css,base.css,header/header.css?ver=20269149291">
<link rel="stylesheet" href="//c5.quanzhi.cn/css/www/fonts/iconfont.css?ver=20269149291">
<link rel="stylesheet" href="//c5.quanzhi.cn/js/www/quanzhiui/assets/quanzhiui.min.css?ver=20269149291">
<script src="//j5.quanzhi.cn/js/fingerprint.min.js?ver=20269149291"></script> 
<script src="//j5.quanzhi.cn/js/www/??vuenext.js,tdesign.min.js?ver=20269149291"></script>
<script src="//j5.quanzhi.cn/css/www/fonts/iconfont.js?ver=20269149291"></script>
<script src="//j5.quanzhi.cn/js??jquery.js,ajax.js,consts.js,lang.js?ver=20269149291"></script>
<script src="//j5.quanzhi.cn/js/www/login/loginout.js?ver=20269149291"></script> 
<script src="//j5.quanzhi.cn/js/www/quanzhiui/quanzhiui.umd.min.js?ver=20269149291"></script>
<style>
	/* body.body-bottom {
		padding-bottom: 362px;
	}
	*/
	
	.user-name-content {
		display: inline-block;
		position: relative;
		margin-right: 10px;
	}
	
	.user-name-content .unread-badge {
		position: absolute;
		top: 12px;
		right: -14px;
		background-color: #FF4D4F;
		color: white;
		font-size: 12px;
		font-weight: 500;
		min-width: 16px;
		height: 16px;
		border-radius: 9px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 4px;
		box-sizing: border-box;
	}
	
	.dropdown-item-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		position: relative;
	}
	
	.dropdown-item-content .unread-badge {
		position: absolute;
		top: 0px;
		right: 0px;
		background-color: #FF4D4F;
		color: white;
		font-size: 12px;
		font-weight: 500;
		min-width: 16px;
		height: 16px;
		border-radius: 9px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 4px;
		box-sizing: border-box;
	}
</style>
<!-- 关闭导航 -->
<div class="qz-header">
      <div class="header-container">
          <a href="/" class="logoImg"><img src="//im5.quanzhi.cn/images/www/main/logo.svg?ver=20269149291" alt="全职招聘网_人才网_AI找工作_AI智能求职招聘"></a>
          <ul class="nav-box-left">
            <li><a href="https://www.quanzhi.com/" class="sy ">AI聊</a></li>
			<li><a href="https://www.quanzhi.com/recommend" class="zw ">推荐</a></li>
            <li><a href="https://www.quanzhi.com/search" class="zw ">搜工作</a></li>
            <li><a href="https://www.quanzhi.com/campus" class="username xy ">校园</a></li>
						<li class="qz-dropdown-box" style="margin-left: 17px;">
              <t-dropdown  :min-column-width="142" :max-height="500" placement="bottom-left"  :popup-props="{ visible: visible, onVisibleChange: handleVisibleChange, attach: '.qz-header', destroyOnClose: false, overlayClassName: ['header_popup_custom']}">
                <span class="username qz" variant="text" style="padding-left: 13px;" @click="navigateToHuiYuan">升级会员服务 <span class="iconfont icon-sanjiao head-icon-scale"></span> </span>
                <t-dropdown-menu style="display: none;max-height: 500px !important;" class="js-qz-dropdown-menu">
					<t-dropdown-item :value="1"><a href="https://www.quanzhi.com/huiyuan" class="head-dropdown-color">升级会员服务</a> </t-dropdown-item>
					
					<t-dropdown-item :value="2"><a href="https://www.quanzhi.com/resumepass" class="head-dropdown-color">简历优化与面试通关</a> </t-dropdown-item>
					
					<t-dropdown-item :value="3">
						<t-popup trigger="click" :visible="isMoNiLock" @visible-change="handleChildVisibleChange" :overlay-class-name="['code_popup_custom']" :overlayInnerClassName="['clear_code']"
							placement="right-top" >
							<a class="head-dropdown-color" :class="{
								active: isMoNiLock
							}" @click.stop="onChildClick">AI模拟面试</a> 
							<template #content>
								<div class="code_img">
									<div class="code_title">扫码体验：面霸AI模拟面试</div>
									<img src="//im5.quanzhi.cn/images/www/mibot_code_img.png" alt="" />
									<div class="code_text">
										<span>1对1仿真AI模拟面试</span>
										<span>名企面试真题</span>
										<span>1000+职位模拟面试随心练</span>
										<span>AI打分，手把手面试指导</span>
									</div>
								</div>
							</template>
						</t-popup>	
					</t-dropdown-item>
					
					<!-- <t-dropdown-item :value="3"><a href="https://www.quanzhi.com/one2one" class="head-dropdown-color">1对1求职陪跑</a> </t-dropdown-item> -->
					
					<t-dropdown-item :value="5"><a href="https://www.quanzhi.com/jobconsult" class="head-dropdown-color">职业咨询</a> </t-dropdown-item>
					
					<t-dropdown-item :value="4"><a href="https://www.quanzhi.com/personalhunter" class="head-dropdown-color">1对1求职猎头</a> </t-dropdown-item>
                </t-dropdown-menu>
              </t-dropdown>
            </li>
          </ul>
          <ul class="nav-box-right">
           <li class="js-nologin-li" ><a href="https://www.quanzhi.com/login?from=https%3A%2F%2Fwww.quanzhi.com%2Fjob%2F69efc63b5e571018290a0018&btntype=navlogin">注册<span class="cutLine">丨</span>登录</a></li>
                      <!--                 <li><a href="javascript:;" onClick="goB()">我要招聘</a></li>
              -->
						 <li class="zp-dropdown-box" style="margin-left: 17px;">
              <t-dropdown :min-column-width="120" :max-column-width="150" :max-height="500" placement="bottom-left"  :popup-props="{attach: '.qz-header', destroyOnClose: false, overlayClassName: ['header_popup_custom']}">
                <span class="username" variant="text" style="padding-left: 13px;">我要招聘 <span class="iconfont icon-sanjiao head-icon-scale"></span> </span>
                <t-dropdown-menu style="display: none;max-height: 500px !important;" class="js-zp-dropdown-menu">
									<t-dropdown-item :value="1">
																						<a href="javascript:;" onClick="goB()" class="head-dropdown-color">网络招聘：快人才</a> 
																			</t-dropdown-item>
                  <t-dropdown-item :value="2"><a href="https://vip.quanzhi.com/es" target="_blank" class="head-dropdown-color">猎头服务</a> </t-dropdown-item>
                  <t-dropdown-item :value="3"><a href="https://vip.quanzhi.com/campus" target="_blank" class="head-dropdown-color">校园招聘和推广</a> </t-dropdown-item>
                  <t-dropdown-item :value="4"><a href="https://www.quanzhi.com/gxt" class="head-dropdown-color">高校信息大全</a> </t-dropdown-item>
                </t-dropdown-menu>
              </t-dropdown>
            </li>
			<li class="js-phone-code">
				<t-popup :destroy-on-close="false">
				  <a variant="outline" href="javascript:;">手机求职</a>
				  <template #content>
					<div style="padding: 16px 12px;">
						<img src="//im5.quanzhi.cn/images/www/search/applet-code-new.png" style="display: block; margin: 0 auto;" width="110" height="110" alt="全职招聘网|求职找工作小程序">
						<div style="text-align: center; margin-top: 10px;color: #888888;font-weight: 400;line-height: 17px;">
							全职招聘小程序<br />
							行云流水的求职体验
						</div>
					</div>
				  </template>
				</t-popup>
            </li>
            
          </ul>
      </div>
  </div>
	<!-- 关闭副导航 if $this->vars['position']-->
  	  <script>
        let atsHost = 'https://gs.quanzhi.com';
        let loginHost = 'https://www.quanzhi.com';
       //登录状态下“我要招聘”
		function goB()
        {
            post("/ajax/pclogin/islogin").then((re)=>{
                if(!re)
                {
                    // window.location.href = loginHost+"/login?from=https%3A%2F%2Fwww.quanzhi.com%2Fjob%2F69efc63b5e571018290a0018&btntype=navlogin&platfromb=1"
					window.location.href = atsHost
                }else{
                    post('/ajax/com/createAuthToken',{}).then((res)=>{
                        if(res){
                            if(res.status==1000)
                            {
                                //可以登录
                                window.location.href = atsHost+"/login/cauth?token="+res.data.comAuthToken;
                            }else if(res.status==1003)
                            {
                                window.location.href = loginHost+"/auth/?id="+res.data.comTempId;
                            }else if(res.status==1002)
                            {
                                //未审核或者未绑定
                                if(res.data.comTempId=='')
                                {
                                    window.location.href = loginHost+"/bind";
                                }else{
                                    window.location.href = loginHost+"/bind?id="+res.data.comTempId;
                                }

                            }
                        }
                    })
                }
            })
        }
		const scrollElem = document.scrollingElement || document.documentElement;
		window.addEventListener('scroll', function() {
			const scrollTop = scrollElem.scrollTop;
			if (scrollTop > 0) {
				$(".submenu").not( $(".gxtmenu")[0] ).addClass("shadow")
			} else {
				$(".submenu").not( $(".gxtmenu")[0] ).removeClass("shadow")
			}
		});

		window.userDropdownVue = createVueBox('.head-dropdown-box-only',{
			data:()=>({
				unreadCount: 0
			})
		});

		$(()=>{
			post("/ajax/pclogin/islogin").then((re)=>{
                if(re){
					const isInsideIframe = window.self !== window.top;

					// 如果当前页面运行在 iframe 中（例如被 AI 项目的公告页嵌入），
					// 则跳过自身的 createGlobalToast，由父页面统一处理订阅通知，
					// 避免出现重复的 toast 提示。
					if (isInsideIframe) {
						// 仍然请求一次未读数量，用于更新头部未读角标
						post("/ajax/subscribe/getunreadlist").then((res)=>{
							if (res && window.userDropdownVue) {
								window.userDropdownVue.unreadCount = res.count || 0;
							}
						});
						return;
					}

                    const toastApi = {
						getunreadlist() {
							return post("/ajax/subscribe/getunreadlist")
						},
						updateSubscribeRead(data) {
							return post("/ajax/subscribe/setClose", data)
						}
					}

					
					QuanzhiUI.createGlobalToast({type:'subscribe', api: toastApi ,CAMPUS_HOST: 'https://campus.quanzhi.com', WWW_HOST: 'https://www.quanzhi.com'}).check((res)=>{
						if (res) {
							// 更新未读数量
							if (window.userDropdownVue) {
								window.userDropdownVue.unreadCount = res.count || 0;
							}
						}
					})
				}
			})
			
		})


		// $('.qz-dropdown-box').mouseenter(function(){
		//   let isVue = $(this).attr('data-v-app');
		//   if (typeof isVue == 'undefined') {
			  
		// 	  $('.js-qz-dropdown-menu').show()
		//   } else {
		// 	  return
		//   }
	  // })
		let qzDropdownBox = null;
		window.onload = function() {
			qzDropdownBox = createVueBox('.qz-dropdown-box',{
				data:()=>({
					visible: false,
					isMoNiLock: false, // AI模拟面试点击后需锁定弹层
				}),
				methods:{
					 navigateToHuiYuan () {
						const path = window.location.pathname
  						if (path.startsWith('/huiyuan')) return

						window.open('/huiyuan', '_blank')
					},
					handleVisibleChange(val, content){
						console.log('visible',val, content)
						// if(!this.isMoNiLock && !this.timer) {
						// 	this.visible = val;
						// }
						if(!this.isMoNiLock) {
							this.visible = val;
						}
					},
					onChildClick(){
						// this.isMoNiLock = !this.isMoNiLock;
					},
					handleChildVisibleChange(val, content){
						console.log('child visible',val, content)
						// this.timer && clearTimeout(this.timer)
						// this.timer = null;
						// if(!val) {
						// 	this.timer = setTimeout(()=>{
						// 			this.timer = null;
						// 	}, 500)
						// }
						this.isMoNiLock = val;
					}
				}
			});
			createVueBox('.zp-dropdown-box',{});
		}
		// $('.zp-dropdown-box').mouseleave(function(){
		// 	console.log('leave')
		//   let isVue = $(this).attr('data-v-app');
		//   if (typeof isVue == 'undefined') {
			  
		// 	  $('.js-zp-dropdown-menu').show()
		//   } else {
		// 	  return
		//   }
	  // })

	  $('.head-dropdown-box-only').mouseenter(function(){
		  let isVue = $(this).attr('data-v-app');
		  if (typeof isVue == 'undefined') {
			  $('.js-t-dropdown-menu').show()
		  } else {
			  return
		  }
	  })
	  
	  $('.js-phone-code').mouseenter(function(){
		  let isVue = $(this).attr('data-v-app');
		  if (typeof isVue == 'undefined') {
			  createVueBox('.js-phone-code',{})
			  // $('.js-t-dropdown-menu').show()
		  } else {
			  return
		  }
	  })
	  $('.js-campus-dropdown').mouseenter(function(){
		  let isVue = $(this).attr('data-v-app');
		  if (typeof isVue == 'undefined') {
			  createVueBox('.js-campus-dropdown',{})
			  // $('.js-t-dropdown-menu').show()
		  } else {
			  return
		  }
	  })
	// Vue.createApp({}).use(TDesign).mount('.qz-header');
	
	$(function(){
		let urlPath = location.pathname;
		if(((urlPath.indexOf('job') != -1 && urlPath.indexOf('/jobconsult') != 0 &&  urlPath.indexOf('/jobevaluation') != 0) && urlPath.indexOf('enter') == -1 && urlPath.indexOf('applysuccess') == -1) || urlPath.indexOf('company') != -1) {
			$('.qz-header').css('position','static')
		}
		
		if (urlPath.indexOf('gxt/') != -1) {
			$('.gxt-other').addClass('gxt-other-show')
		}else if (urlPath.indexOf('gxt') != -1) {
			setTimeout(()=>{
				$('.gxt-other').eq(0).animate({width: '72px'}, 200, 'linear')
					setTimeout(()=>{
						$('.gxt-other').eq(1).animate({width: '86px'}, 200, 'linear')
						setTimeout(()=>{
							$('.gxt-other').eq(2).animate({width: '100px'}, 200, 'linear')
						},200)
					},200)
			},100)
		} 
	})
 </script>		<div class="job-info-box">
					<div class="job-header">
				<input type="hidden" id="jobSource" value="500"/>
				<input type="hidden" id="jobSign" value="0"/>
				<input type="hidden" id="isEnter" value="0" />
				<input type="hidden" id="btnUrl" value="" />
				<input type="hidden" id="jobFromName" value="智联招聘" />
				<input type="hidden" id="subscribeImageHost" value="//im5.quanzhi.cn"/>
				<input type="hidden" id="subscribeWwwHost" value="https://www.quanzhi.com"/>
				<input type="hidden" id="siteSign" value="quanzhi"/>
				<input type="hidden" id="workPlace" value="86251115"/>
				<input type="hidden" id="workCityName" value="济南历城区"/>
				<input type="hidden" id="jobTitle" value="课后托管老师"/>
				<input type="hidden" id="comIndustry" value="1615"/>
				<input type="hidden" id="jobRecruitType" value="0"/>
				<input type="hidden" id="comNature" value="8"/>
				<input type="hidden" id="WorkCityNameList" value="济南历城区"/>


				<!-- <input type="hidden" id="comIndustry" value="1615"/>
				<input type="hidden" id="comNature" value="8"/> -->

				<div class="j-h-center">
					<div class="job-title">
						<div class="left">
							<h1 class="text-overflow" title="课后托管老师">课后托管老师</h1>
							<span>3-6千</span> 
						</div>
						<!-- 标签 -->
											</div>
					<div class="job-tags">
					济南历城区					&nbsp;丨&nbsp;1-3年										&nbsp;丨&nbsp;大专					&nbsp;丨&nbsp;全职																									&nbsp;丨&nbsp;招1人										</div>
					
					<div class="job-tool">
						<div class="j-t-left">
																												<div class="tool-btn tool-btn-over js-appy-txt">已结束</div>
								
						</div>
											</div>
				</div>
			</div>
			<input type="hidden" id="comId" value="69efb04d5e5710182909e433" />
			<input type="hidden" id="comUserId" value="146229398" />
									<div class="job-main">
				<div class="j-m-left">
					<!-- <div class="chunk-box">
						<div class="c-b-title">视频介绍</div>
						<div class="swiper">
						  <div class="swiper-wrapper">
						    <div class="swiper-slide chunk-video-item"><video src="" class="s-s-video"
							poster="//im5.quanzhi.cn/images/news_15-1.jpg"></video></div>
						    <div class="swiper-slide chunk-video-item"><video src="" class="s-s-video"
							poster="//im5.quanzhi.cn/images/news_15-1.jpg"></video></div>
						    <div class="swiper-slide chunk-video-item"><video src="" class="s-s-video" 	
							poster="//im5.quanzhi.cn/images/news_15-1.jpg"></video></div>
							<div class="swiper-slide chunk-video-item"><video src="" class="s-s-video"
							poster="//im5.quanzhi.cn/images/news_15-1.jpg"></video></div>
						  </div>
						  如果需要导航按钮
						      <div class="swiper-button-prev custom-swiper-prev"></div>
						      <div class="swiper-button-next custom-swiper-next"></div>
						</div>
					</div> -->
										<div class="chunk-box main-min-height">
						<div class="c-b-title">职位详情</div>
												<div class="info-tag-box">
														<div class="tag-item">学生日常管理</div>
														<div class="tag-item">家校沟通</div>
														<div class="tag-item">托管运营支持</div>
														<div class="tag-item">小学教育</div>
														<div class="tag-item">初中教育</div>
														<div class="tag-item">课程培训</div>
														<div class="tag-item">教学能力</div>
														<div class="tag-item">作业辅导</div>
														<div class="tag-item">班级管理</div>
														<div class="tag-item">沟通能力</div>
													</div>
																		<style>
							.info-text ul {list-style-type: disc;;margin-left:15px;}
							.info-text ol {list-style-type: decimal;margin-left:15px;} 
                    	</style>
						 
						<div class="info-text">
							工作职责<br>1. 负责校区学生的日常管理与生活照料，执行标准化班级管理流程，完成作业辅导、知识点加练等教研任务，提供个性化学习支持。<br>2. 培养学生良好行为习惯，建立成长档案，与家长高效沟通学生学习情况，及时处理突发状况，保障学生安全。<br>3. 组织校区日常学生活动，配合团队完成市场招生、家校联动及运营支持工作，助力提升校区服务质量。<br>4. 定期参与贝尔安亲总部课程培训及专项业务学习，持续提升专业能力，成为合格的安亲老师。<br>任职要求<br>1. 统招本科或专科及以上学历，持有小学或初中教师资格证。<br>2. 热爱教育事业，具备良好的沟通表达能力，有教育行业新媒体运营经验者优先。<br>3. 富有爱心、责任心与耐心，形象得体，有学校或托管机构教师岗位经验者优先。<div>  岗位说明  <br>1. 薪酬福利：五险+底薪+带班费+绩效+奖金，综合薪资3000-6000元</div><div>  2. 工作时间：早9点半至晚7点半，午休时间为12点至13点半（校区提供午餐和午休床椅）  <br>3. 职位亮点：  <div>   （1）贝尔安亲高端托管品牌背书，为今后职业发展提供广阔平台；  </div>  <div>   （2）完善的师资培训体系，安亲大学让老师持续保持行业内高水平的专业水准；  </div>  <div>   （3）安亲老师的福利：带薪年假/产假、安亲教师节、定期团建（旅游、聚餐、观影、生日会等）、优秀教师每年一次到贝尔安亲全国总部参观交流  </div></div>						</div>
												
												<div class="comp-brevity comp-brevity-city">
														<div class="title-box">工作地址</div>
							<div class="city-box">
								<div class="city-position">
									<span class="iconfont icon-dingweixiao city-icon"></span>
									山东省济南市历城区东风街道祝舜路2199号电建洺悦府室内副食品市场二楼																		<div class="city-click-show">
										<div class="city-click-main" data-name="山东省济南市历城区东风街道祝舜路2199号电建洺悦府室内副食品市场二楼" data-x='117.06918162158' data-y='36.688526683503'>
											<img src="//im5.quanzhi.cn/images/www/job/job-city.png" alt="">
											点击查看地图
										</div>
									</div>
									<script>
										let jsOverFlag = false;
										$('.city-click-main').click(function(){
                                            //统计查询次数
                                            get('/ajax/public/mapStatistics');
											document.write = function(dom){
												$('body').prepend(dom)
											}
											if (!jsOverFlag) {
												importJs("https://map.qq.com/api/gljs?v=1.exp&key=RT7BZ-Y3RWQ-DEV5T-2SDLG-B77SJ-SNFWK", function(jsOverFlag) {
													setTimeout(function(){
														importJs("//j5.quanzhi.cn/js/www/qqmap.js", function(jsOverFlag) {
															window.jobExamineMap();
														});
													},100)
												});
												jsOverFlag = true;
											} else {
												window.jobExamineMap()
											}
										})
									</script>
																	</div>
							</div>
													</div>
											</div>
					<div class="job-bottom-fixed" style="display: none;">
						<div class="j-b-f-conetnt">
							<div class="j-b-f-info">
								<div class="f-i-name text-overflow" title="课后托管老师">
									课后托管老师								</div>
								<div class="f-i-num">
									3-6千								</div>
							</div>
							<div class="j-b-f-func">
																																<div class="tool-btn tool-btn-over js-appy-txt" >已结束</div>
															</div>
						</div>
					</div>
					
					<!-- 订阅/优化简历双卡片推荐区域 -->
					<div class="detail-recommend-container">
						<!-- 左侧卡片：一键订阅 -->
						<div class="detail-recommend-card">
							<t-loading :loading="loading" size="small" style="position: absolute; top: 4px; left: 0; right: 0; bottom: 0; display: flex; align-items: center; justify-content: center; background: #FFFFFF; z-index: 10;"></t-loading>
							<div class="card-row card-top-row" v-if="!loading" style="margin-bottom: 9px;">
								<div class="card-title">不错过同类好机会</div>
							</div>
							<div class="card-row card-bottom-row" v-if="!loading">
								<div class="card-subtitle" title="一键订阅济南历城区课后托管老师职位，AI帮你全网搜">
									一键订阅<span class="highlight-text">{{ truncatedWorkCityName }}{{ truncatedJobTitle1 }}</span>职位，AI帮你全网搜
								</div>
								<button class="card-action-btn" @click="handleSubscribe">
									<span class="font_family icon-zhiweidingyue" style="margin-right: 3px;"></span>马上订阅
								</button>
							</div>
						</div>

						<!-- 右侧卡片：简历优化 -->
						<div class="detail-recommend-card">
							<t-loading :loading="loading" size="small" style="position: absolute; top: 4px; left: 0; right: 0; bottom: 0; display: flex; align-items: center; justify-content: center; background: #FFFFFF; z-index: 10;"></t-loading>
							<div class="card-row card-top-row" v-if="!loading" style="margin-bottom: 9px;" >
								<div class="card-title">提升80%面试率</div>
								<div class="card-score-badge" v-if="isLogin && hasResume && score">
									简历评分 <span style="color: #00C8C8;">{{ score < 60? '<60' : score }}分</span>
								</div>
							</div>
							<div class="card-row card-bottom-row" v-if="!loading">
								<!-- 情况1：在线简历有可优化的，进入在线简历编辑页 -->
								<!-- <div class="card-subtitle" v-if="isLogin && hasResume && score > 0 && scoreFlag == 1" :title="score < 60 ?'简历中缺少必要的信息，这会影响你的简历投递，通过筛选的概率极低' :score<80? '简历内容质量一般，建议参照建议修改，或请AI帮助优化':'简历内容质量尚可，但仍有可优化空间，请参照建议修改，AI会帮你优化'">
									{{ score < 60 ?'简历中缺少必要的信息，这会影响你的简历投递，通过筛选的概率极低' :score<80? '简历内容质量一般，建议参照建议修改，或请AI帮助优化':'简历内容质量尚可，但仍有可优化空间，请参照建议修改，AI会帮你优化'}}
								</div> -->
								<div class="card-subtitle" v-if="isLogin && hasResume && score > 0 && scoreFlag == 1" :title="score < 80? `你的简历有 ${scoreLen} 项缺陷，通过筛选的概率极低。AI已为你准备好修改方案了`:'你的简历内容质量尚可，但仍有可优化空间，AI已准备好修改方案'">
									<span v-if="score < 80">你的简历有 <span style="color: red;font-weight: bold;">{{scoreLen}}</span> 项缺陷，通过筛选的概率极低。AI已为你准备好修改方案了</span>
									<span v-else>你的简历内容质量尚可，但仍有可优化空间，AI已准备好修改方案</span>
								</div>
								<!-- 情况2：在线简历无可优化的 或未评价 -->
								<div class="card-subtitle" v-else-if="isLogin && hasResume &&( scoreFlag != 1 || !score)" :title="`投递前，让AI针对${jobTitle}岗位定向润色简历内容，突出体现匹配度`">
									投递前，让AI针对<span class="highlight-text">{{ truncatedJobTitle2 }}</span>岗位定向润色简历内容，突出体现匹配度
								</div> 
								<!-- 情况3：未登录、无简历，无可优化，或评分是0 -> 写简历，提示新建岗位专属简历 -->
								<div class="card-subtitle" v-else :title="`让AI帮你写一份${jobTitle}岗位专属简历，凸显个人优势和匹配度`" >
									让AI帮你写一份<span class="highlight-text">{{ truncatedJobTitle3 }}</span>岗位专属简历，凸显个人优势和匹配度
								</div>
								
								<!-- 1.已登陆 有简历 有可优化项 -> 去优化 -->
								<button class="card-action-btn 1" v-if="isLogin && hasResume && score > 0 && scoreFlag == 1" @click="handleOptimize">
									<span class="font_family icon-youhuajianlianniu" style="margin-right: 3px;"></span>去优化
								</button>
								<!-- 2.已登录 有简历 无可优化项，或者有简历 评分是0 -> 写简历 -->
								<button class="card-action-btn 2" v-else-if="isLogin && hasResume && (scoreFlag != 1 || !score )" @click="handleNoOptimize">
									<span class="font_family icon-youhuajianlianniu" style="margin-right: 3px;"></span>去优化
								</button>
								<!-- 3.无简历 或 未登录 -> 写简历 -->
								<button class="card-action-btn 3" v-else @click="handleAiResume">
									<span class="font_family icon-youhuajianlianniu" style="margin-right: 3px;"></span>写简历
								</button>
							</div>
						</div>
					</div>					
															<div class="comp-brevity">
												<div class="title-box">公司介绍</div>
						<style>
						.comp-text ul {list-style-type: disc;;margin-left:15px;}
						.comp-text ol {list-style-type: decimal;margin-left:15px;} 
                    	</style>
						<div class="comp-text">
							山东国云教育科技有限公司成立于2023年，位于山东省济南市历城区，拥有“贝尔安亲”品牌授权。<br/>公司专注为小学一至六年级学生提供专业托管服务，核心业务涵盖日常带班流程执行、学习习惯培养与生活照料等全方面内容，通过标准化的服务规范，为学生营造安心有序的学习生活环境，助力学生全面成长。<br/>作为深耕本地托管教育领域的企业，公司始终围绕学生需求优化服务细节，致力于打造兼具专业性与温度的托管服务模式，为家长解决后顾之忧。						</div>
																	</div>
										<div class="chunk-box anquan-box">
						<div class="anquan-text">
							<div><t-icon name="error-circle-filled" class="anquan-ic" /></div>
							<div>
								若用人单位提供虚假招聘信息，以担保或其他任何名义收取财物，扣押或以保管为名索要证件，都属于违法行为，应当提高警惕。
							</div>
						</div>
					</div>
					<div class="third-party-job">
						<span>发布于</span>
						<span>智联招聘</span>						<span>2026-08-18</span>					</div>
									</div>
				<div class="comp-main-right">
									<div class="relation-my">
						<div class="r-m-title">
							单位基本信息
						</div>
						<div class="r-m-box">
							<div id="defaultLogo" logo-url="//im5.quanzhi.cn/images/www/job/job-acquiesce-logo.png"></div>
							<a href="/company/146229398" class="r-m-item">
																<div class="job-com-logo">
									<img  src="/logo/69efb04ea59c0a75030c026a" alt="山东国云教育科技有限公司" onerror="comLogoError(this)" class="job-com-logo-img">
								</div>
																<div class="job-com-name text-overflow" title="山东国云教育科技有限公司">山东国云教育科技有限公司</div>
							</a>
														<div class="r-m-item">
								<img src="//im5.quanzhi.cn/images/www/job/job-right-com-icon1.png" alt="公司行业" class="job-right-com-icon">
								<div title="职业培训/成年人培训" class="text-overflow">
									职业培训/成年人培训								</div>
							</div>
																					<div class="r-m-item">
								<img src="//im5.quanzhi.cn/images/www/job/job-right-com-icon2.png" alt="公司性质" class="job-right-com-icon">
								<div class="text-overflow">
									私营/民营企业								</div>
							</div>
																					<div class="r-m-item">
								<img src="//im5.quanzhi.cn/images/www/job/job-right-com-icon3.png" alt="公司规模" class="job-right-com-icon">
								<div class="text-overflow">
									50-99人								</div>
							</div>
																				</div>
					</div>
																				<div class="relation-my">
						<div class="r-m-title">
							可能适合你的职位
						</div>
						<div class="r-m-box r-m-other">
													<div class="other-company-item">
								<a class="o-i-down" title="HR实习生（目前领秀城，10月搬至汉峪金谷）" href="/job/6aa8a681c5a909533894dce1">
									<span class="o-i-tags text-overflow" >HR实习生（目前领秀城，10月搬至汉峪金谷）</span>
									<div class="o-i-num">面议</div>
								</a>
									<a class="o-i-up" href="/company/143670619" title="玫德集团">
									<!-- <img src="//im5.quanzhi.cn/images/www/company/company-auth-icon@2x.png" class="o-i-logo"> -->
									<div class="text-overflow">玫德集团</div>
									</a>
							</div>
													<div class="other-company-item">
								<a class="o-i-down" title="兼职物理老师" href="/job/6aa80329c5a9095338939c98">
									<span class="o-i-tags text-overflow" >兼职物理老师</span>
									<div class="o-i-num">面议</div>
								</a>
									<a class="o-i-up" href="/company/145778785" title="济南熙九教育科技有限公司">
									<!-- <img src="//im5.quanzhi.cn/images/www/company/company-auth-icon@2x.png" class="o-i-logo"> -->
									<div class="text-overflow">济南熙九教育科技有限公司</div>
									</a>
							</div>
													<div class="other-company-item">
								<a class="o-i-down" title="人事专员（培训）" href="/job/6a906d0d67c5b4892cb8dd3a">
									<span class="o-i-tags text-overflow" >人事专员（培训）</span>
									<div class="o-i-num">面议</div>
								</a>
									<a class="o-i-up" href="/company/10039383" title="杭州中美华东制药有限公司">
									<!-- <img src="//im5.quanzhi.cn/images/www/company/company-auth-icon@2x.png" class="o-i-logo"> -->
									<div class="text-overflow">杭州中美华东制药有限公司</div>
									</a>
							</div>
													<div class="other-company-item">
								<a class="o-i-down" title="员工关系专员" href="/job/6aa755ae09732e35ee9005d0">
									<span class="o-i-tags text-overflow" >员工关系专员</span>
									<div class="o-i-num">面议</div>
								</a>
									<a class="o-i-up" href="/company/143447898" title="顺丰速运">
									<!-- <img src="//im5.quanzhi.cn/images/www/company/company-auth-icon@2x.png" class="o-i-logo"> -->
									<div class="text-overflow">顺丰速运</div>
									</a>
							</div>
													<div class="other-company-item">
								<a class="o-i-down" title="人力资源专员" href="/job/6aa681c509732e35ee8e70c1">
									<span class="o-i-tags text-overflow" >人力资源专员</span>
									<div class="o-i-num">面议</div>
								</a>
									<a class="o-i-up" href="/company/143443431" title="山东立行教育集团有限公司">
									<!-- <img src="//im5.quanzhi.cn/images/www/company/company-auth-icon@2x.png" class="o-i-logo"> -->
									<div class="text-overflow">山东立行教育集团有限公司</div>
									</a>
							</div>
												</div>
						<!-- <a class="relation-more" href="/search">
							更多推荐
						</a> -->
											</div>
									</div>
			</div>
			
			<!-- 申请由公告转的职位采用公告投递弹框投递 -->
			<link rel="stylesheet" href="//c5.quanzhi.cn/css/www/control/ggapplypopup.css?ver=20269149291">
<div class="js-gg-apply_popup" style="display:none">
    <div class="content_popup" v-if="applyGgJob" >
        <div class="content_body" v-if="loading">
            <div class="loading-wrap">
                <t-loading />
            </div>
        </div>
        <div class="content_body" v-else >
            <div id="showCode"></div>
            <div id="content"></div>
            <div class="content_title">
                <span>投递</span>
                <img src="//im5.quanzhi.cn/images/www/notice/close_icon.png" alt="" @click="hidePopUp">
            </div>
            <t-form ref="form" :rules="ggFormRules" :data="ggFormData" label-width="0" label-align="top" @submit="toGgApply" >
                <div class="content_radio" >
                    <div class="radio_item" v-if="showChose">
                        <div class="radio_item_name">投递对象</div>
                        <!-- 单选下拉框 -->
                        <div class="delivery">
                            <t-form-item label="" name="emails">
                                <t-select
                                        v-model="ggFormData.emails"
                                        :options="options1"
                                        placeholder="请选择"
                                        clearable
                                        :popup-props="{
                                            zIndex: 10001,
                                        }"
                                ></t-select>
                            </t-form-item>
                        </div>

                    </div>
                    <div class="radio_item">
                            <div class="radio_item_name">
                                邮件标题</div>
                            <!-- 单选下拉框 -->
                            <div :class="{'tips': ggFormData.title.length !== 0}" class="delivery ">
                                <t-form-item label="" name="title" :help="titleTip">
                                    <t-input v-model="ggFormData.title" clearable placeholder="请输入邮件标题" />
                                </t-form-item>
                            </div>
                    </div>

                    <div class="radio_item tips_next">
                        <div class="radio_item_name">
                            邮件正文</div>
                            <!-- 单选下拉框 -->
                            <div class="delivery">
                                <t-form-item label="" name="content">
                                    <t-textarea
                                    class="yj-textarea" 
                                    v-model="ggFormData.content" placeholder="请输入邮件正文"
                                                :maxlength="500"
                                                :autosize="{ minRows: 5, maxRows: 9 }" />
                                </t-form-item>
                            </div>

                    </div>

                    <!-- <div v-show="ggFormData.content.length!=0"  class="ai_tag" style="background: url('//im5.quanzhi.cn/images/www/notice/bg.png');">AI帮我写</div>
                    <div style="height: 32px;margin-top: 243px;" v-show="ggFormData.content.length==0"></div> -->
                    <div class="radio_item" style="margin-bottom: 10px;">
                        <span class="radio_item_name"  style="margin-right: 30px;"> 附件简历</span>
                        <div class="radio_item_right">
                            <div class="right_file_text"  v-for="(item,index) in ggFormData.attach" :key="index">
                                <div class="attachment-file attachment-name">
                                    <img src="//im5.quanzhi.cn/images/www/notice/pdf_icon.png" alt="">
                                    <div class="file_name"
                                    :class="`file_${item.attachName.split('.')[1].toUpperCase()}`"
                                    >{{ item.attachName.split('.')[1].toUpperCase() }}</div>
                                </div>
                                <div style="flex: 1;">
                                    <span class="attachment-name" style="word-break: break-word;"  @click="viewFile(item)">
                                        {{ item.attachName}}
                                    </span>
                                </div>
                                <div v-if="ggFormData.attach?.length > 1" class="close_icon_wrap" @click.stop="openDeleteConfirm(item,index,'Resume')">
                                    <img class="close_icon" src="//im5.quanzhi.cn/images/www/notice/close_icon1.svg" alt="">
                                    <img class="close_icon_hover" src="//im5.quanzhi.cn/images/www/notice/close_icon1_hover.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="radio_item" style="margin-bottom: 0px;">
                        <span class="radio_item_name no_before" style="margin-right: 30px;">其他附件</span>
                        <div class="radio_item_right" style="row-gap: 0px;">
                            <div class="right_file_text"  v-for="(item,index) in ggFormData.attachment" :key="index" :style="{
                                marginBottom: index === ggFormData.attachment.length - 1 ? '10px' : '0px',
                            }">
                                <div class="attachment-file" :class="{'attachment-name': !item.loading}">
                                    <img src="//im5.quanzhi.cn/images/www/notice/pdf_icon.png" alt="">
                                    <div class="file_name"
                                    :class="`file_${item.attachName.split('.')[1].toUpperCase()}`"
                                    >{{ item.attachName.split('.')[1].toUpperCase() }}</div>
                                </div>
                                <div style="flex: 1;">
                                    <span :class="{'attachment-name': !item.loading}"  style="word-break: break-word;"  @click="viewFile(item)">
                                        {{ item.attachName}}
                                    </span>
                                </div>
                                <template v-if="!item.loading">
                                    <div v-if="item.status && item.status === 'rejected'">
                                        <img src="//im5.quanzhi.cn/images/www/notice/upload-error.png" width="18" alt="上传中" title="上传失败，点击重新上传">
                                    </div>
                                    <div v-else class="close_icon_wrap" @click.stop="openDeleteConfirm(item,index,'Other')" >
                                        <img class="close_icon" src="//im5.quanzhi.cn/images/www/notice/close_icon1.svg" alt="">
                                        <img class="close_icon_hover" src="//im5.quanzhi.cn/images/www/notice/close_icon1_hover.svg" alt="">
                                    </div>
                                   
                                </template>
                                <div v-else class="close_icon_wrap">
                                    <img class="spin" src="//im5.quanzhi.cn/images/www/notice/loading.png" width="18" alt="上传中" title="上传中">
                                </div>
                            </div>
                            <div class="upload-button" @click.stop="handleFileUploadClick">
                                <img src="//im5.quanzhi.cn/images/www/notice/link_icon.png" alt="" class="upload-button-icon">
                                <div class="upload-button-text">上传其他附件</div>
                                <input ref="fileUploadRef" type="file" multiple style="display: none" accept=".jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.ppt,.pptx,.txt" @change="handleUploadChange" />
                            </div>
                        </div>
                    </div>

                 
                </div>
                <div class="bottom_btns">
                    <div class="bottom_btn btn_close" @click="hidePopUp">取消</div>
                    <t-button class="bottom_btn" type="submit">投递</t-button>
                </div>
            </t-form>
        </div>
    </div>

    <!-- 投递成功弹窗 applyJobSuccess-->
    <div class="content_popup" v-if="applyJobSuccess">
        <div class="content_body">
            <div class="content_title">
                <span></span>
                <img src="//im5.quanzhi.cn/images/www/notice/close_icon.png" alt="" @click="hideSucsessPopUp">
            </div>
            <div class="content_container">
                <!-- 图片 -->
                <img src="//im5.quanzhi.cn/images/www/notice/gonggao-success.png" alt="" class="content_success">
                <div class="success_text">投递成功</div>
                <div class="content_text">你的简历已发送给招聘企业</div>
                <img v-if="showWechat" src="//im5.quanzhi.cn/images/www/notice/wx-code.png" alt="" class="content_code">
                <div class="content_text_else">简历优化，面试指导，职业测评和解读，代投/内推，全程陪跑，加企微咨询</div>
                <div class="success_close" @click="hideSucsessPopUp">确定</div>
            </div>
          
        </div>
    </div>
    <t-dialog header="提示" v-model:visible="visible" :z-index="11000" confirm-btn="确定" @confirm="handleDelConfirm" @cancel="handleDelCancel" @close="handleDelClose">
       <div>确定删除？</div>
    </t-dialog>
</div>
<script>
    var cssHost = "//c5.quanzhi.cn";
    var jsHost = '//j5.quanzhi.cn';
</script>
			<!-- 查看申请方式弹窗 -->
			<div class="notice-apply" style="display: none;">
				<t-dialog
				v-model:visible="noticeApply"
				header="申请方式"
				width="640px"
				:footer="false"
				>
				<div class="notice-apply-body scroll-bar-style-y">
					<div class="notice-apply-text"></div>
					<div class="notice-apply-img">
					</div>
				</div>
				
				<div class="notice-apply-footer">
					<input id="input-link" value=""></input>
					<div class="notice-apply-footer-btn" id="apply-link">复制链接</div>
					<input id="input-email" value=""></input>
					<div class="notice-apply-footer-btn" id="apply-email">复制邮箱</div>
				</div>

				</t-dialog>
			</div>

			<!-- 举报弹窗 -->
			<input type="hidden" id="email" value="" />
			<div class="job-report-box" style="display: none;">
				<t-dialog
				  v-model:visible="reportPop"
				  header="举报"
				  @confirm="toConfirm"
				  @close="toClose"
					:z-index="5000"
				>
				  <template #body>
					<t-form ref="form" class="job-report-form" :rules="formRules" :data="formData" label-align="top" @submit="toReport" >
						<t-form-item label="举报类型" name="type">
							<t-checkbox-group v-model="formData.type" :options="optionsDate"></t-checkbox-group>
						</t-form-item>
						<t-form-item label="举报原因" name="content">
							<t-textarea v-model="formData.content" placeholder="请输入举报原因" :maxlength="200"></t-textarea>
						</t-form-item>
						<t-form-item label="你的邮箱" name="email" style="padding-bottom: 10px;">
							<t-input v-model="formData.email"></t-input>
						</t-form-item>
					</t-form>
				  </template>
				</t-dialog>
			</div>
			<!-- 地图弹窗 -->
			<div class="job-map-dialog" style="display: none;">
				<t-dialog
				v-model:visible="mapDialogShow"
				width='70vw'
				:cancel-btn="null"
				:confirm-btn="null"
				placement="center"
				>
				  <template #header>
				    <span class="iconfont icon-dingweixiao city-icon"></span>
				    {{cityName}}
				  </template>
				  <template #body>
					  <div id="cityMap" class="city-map"></div>
				  </template>
				</t-dialog>
			</div>
			
			<div class="tool-box">
				<div class="back-top">
				  <p class="iconfont icon-zhiding"></p>
				</div>
			</div>
			<!-- 订阅弹窗 -->
			<div class="searchsubscribe"></div>
		</div>
		<style>
			.phone-vue-box  .t-popup[data-popper-placement^=bottom] .t-popup__content {
				margin-left: 26px;
			}
		</style>
        <script>
            let sign = "";
        </script>
		<script src="//j5.quanzhi.cn/js/www/job.js?ver=20269149291"></script>
		<script src="//j5.quanzhi.cn/js/www??applyjob.js,im.js?ver=20269149291"></script>
		<script src="//j5.quanzhi.cn/js/www??jobcommon.js,im.js?ver=20269149291"></script>
		<script src="//j5.quanzhi.cn/js/www/notice.js?ver=20269149291"></script>
		<script src="//j5.quanzhi.cn/js/www/markdown-it.min.js?ver=20269149291"></script>
			
<link rel="stylesheet" href="//c5.quanzhi.cn/css/www/footer/footer.css?ver=20269149291">
<footer class="footer-box">
	<div class="footer-bottom">
		<a class="footer-link" href="https://vip.quanzhi.com/about">关于我们</a> |
		<a class="footer-link" href="https://vip.quanzhi.com/about?t=mtbd">媒体报道</a> |
		<a class="footer-link" href="https://www.quanzhi.com/huiyuan">个人服务</a> |
		<a class="footer-link" href="https://vip.quanzhi.com">企业服务</a> |
		<a class="footer-link" href="https://vip.quanzhi.com/about?t=flxy">法律协议</a> |
		<a class="footer-link" href="https://vip.quanzhi.com/about?t=lxwm">联系我们</a> |
		<a class="footer-link" href="https://job.quanzhi.com/">加入我们</a>
	</div>
		<div class="footer-bottom" style="margin: 10px 0;">
		未经quanzhi.com同意，不得转载本网站之所有招聘信息及作品，全聘致远版权所有©2010-2026 京ICP证150226 
		<a href="https://beian.miit.gov.cn/" target="_blank">京ICP备14035729号</a>
		<a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502036126" target="_blank">京公网安备11010502036126号</a>
		<a href="//im5.quanzhi.cn/images/www/main/license_qpzy.jpg" target="_blank">营业执照</a>
		<a href="//im5.quanzhi.cn/images/www/main/manpowerlicence.jpg" target="_blank">人力资源服务许可证1101052013327号</a>
	</div>
		<div class="footer-bottom">
		朝阳区人力资源与社会保障局 监督电话：57596212，65090445
		全职客服电话：400-0818-400
	</div>
	</footer>
<script type="text/javascript">
	if (!cookie.get(consts.fingerCookieKey)) {
		importJs("//j5.quanzhi.cn/js/fingerprint.min.js", function() {
			new Fingerprint2().get(function(result, components) {
				cookie.set(consts.fingerCookieKey, result, 365);
			});
		});
	}
createVueBox('.ewm-box')
let _curLoginUrl_ = 'https://www.quanzhi.com/login'
//当前url，checkcode/main.html和checkcode.js中使用（职位搜索列表和职位详情添加防抓取ajax请求方式）
let _curUrl_ = window.location.href
let _webOptions_ = JSON.parse('{"_login_url_":"https:\/\/www.quanzhi.com\/login","_apply_need_login_":false,"_hide_share_code_":false,"_hide_im_btn_":false,"_hide_qr_code_":false,"_home_hot_coms_split_":false,"_hide_list_share_":false,"_hide_applet_":false,"_hide_job_share_":false,"_qywx_kf_code_":"\/\/im5.quanzhi.cn\/images\/www\/careerpay\/kf-code1.png","_qywx_1v1_kf_code_":"\/\/im5.quanzhi.cn\/images\/uniapp\/careerpay\/code.png?ver=202698878","_qywx_1v1_kf_code_text_":"\/\/im5.quanzhi.cn\/images\/www\/notice\/kefu-wx-code-box-icon.png","_qywx_online_consult_url_":"https:\/\/work.weixin.qq.com\/kfid\/kfcc75e8ae2aa4ff3d9","_gzh_wx_code_":"\/\/im5.quanzhi.cn\/images\/www\/notice\/wx-code.png","_subscribe_wx_code_text_":"\/\/im5.quanzhi.cn\/images\/www\/notice\/subsctibe-wx-code-box-icon.png"}')
</script>
<script>
	
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "https://hm.baidu.com/hm.js?dcf92b15427236292ed2e4cdaebf3cba";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
		<script>
		setTimeout(function(){
			post('/ajax/public/viewjob',{jobId:$('#jobId').val(),jobSource:$('#jobSource').val()})
		},1000)
		function markdownBoldToStrong(markdown) {
			const regex = /\*\*(.*?)\*\*/g;
			return markdown.replace(regex, (match, content) => {
				// 递归处理嵌套加粗
				if (/\*\*.*\*\*/.test(content)) {
				return `<strong>${markdownBoldToStrong(content)}</strong>`;
				}
				return `<strong>${content}</strong>`;
			});
		}
		let md = ``;
		if(md) {
			md = markdownBoldToStrong(md);
			const markdownIt = window.markdownit({ html: true });
			const result = markdownIt.render(md);
			$('#mdBox').html(result);
		}
		</script>
	</body>
</html>